*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-image: url(1.png);
}
button{
    width: 400px;
    height: 60px;
    background: limegreen;
    colour: white;
    border: 2px solid lime;
    font-size: 36px;
    font-family: sans-serif;
    border-radius: 5px;
}
button:hover{
    background-color: transparent;
    color: lime;
}